<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new book</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label th:for="name">Enter name book: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label th:for="author">Enter author of book: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <br/>
    <label th:for="year">Enter year of book: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>