<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show book</title>
</head>
<body>
<p th:text="${book.getName()}">VALUE</p>
<p th:text="${book.getAuthor()}">VALUE</p>
<p th:text="${book.getYear()}">VALUE</p>
<!---->
<hr>
<!---->
<div th:if="${person_owner}">
    <p>Owner books now:
        <span th:text="${person_owner.getFio()}"></span>,
        <span th:text="${person_owner.getYearOfBirth()}"></span>
    </p>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="release the book"/>
    </form>
</div>
<div th:unless="${person_owner}">
    <p>This book is free. Who should I assign the book to?</p>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <span>Choose a person: </span>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}"
                    th:value="${person.getId()}"
                    th:text="${person.getFio()}">
            </option>
        </select>
        <input type="submit" value="Assign book"/>
    </form>
</div>
<!---->
<hr>
<!---->
<a th:href="@{/books/{id}/edit-book(id=${book.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>